.home_bg {
  background-color: #f6e6cd;
  height: 83vh;
}

.home_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_bonImgs {
  background-image: url(/public/imgs/homeImgs.png);
  height: 605px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.home_box {
  padding-top: 150px;
  width: 443px;
}

.home_box h1 {
  font-size: 50px;
}
.home_box p {
    line-height: 1.5;
    padding: 20px 0;
}

.home_box button{
    padding: 8px 15px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    border-radius: 20px;
    border: 2px solid black;
    transition: all .4s ease-in-out;
    cursor: pointer;

}

.home_box button:hover{
    border: 2px solid #f99756;
    background-color: #f99756;
    color: white;
}





.TRANDINg{
    margin: 80px 0;
}

.tradin_block{
    display: flex;  
    align-items: end;
    justify-content: space-between;
}
.tradin_box h1{
 padding: 15px 0;
 font-size: 40px;
}

.tradin_block button{
    padding: 8px 25px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    border-radius: 20px;
    border: 2px solid black;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.tradin_block button:hover{
    border: 2px solid #f99756;
    background-color: #f99756;
    color: white;
}


.log_cards{
    display: flex;
    align-items: center;
    gap: 60px;
}

.log_card_imgs{
    width: 500px;
    height: 450px;
}

.log_card_imgs img{
    width: 100%;
    height: 100%;
}

.log_card{
    width: 500px;
}

.log_card h1{
    font-size: 40px;
}
.log_card p{
    line-height: 1.5;
    padding: 15px 0;
}

.log_icons{
    display: flex;
    align-items: center;
    gap: 15px;
  
}
.log_icons p{
    color: #252525c3;
}