

.medium_block{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
}

.medium_box{
    width: 540px;
}

.medium_box h1{
    font-size: 44px;
}

.medium_box p{
    padding: 20px 0;
}

.inputs_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.inputs_btn input{
padding: 5px 15px;
border-radius: 10px;
}
.inputs_btn button{
    padding: 5px 25px;
    border-radius: 15px;
    background-color: transparent;
    border: none;
    border: 2px solid rgb(51, 51, 50);
    transition: all  .4s ease-in-out;
    cursor: pointer;

}

.inputs_btn button:hover{
    background-color: orange;
    border: 2px solid orange;
}